body {
	height: 100%;
}
.footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.footer p{
	text-align: center;
	font-size: 10px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
}
.footer p a{
	text-decoration: none;
	font-weight: 500;
	color: #999999;
}
.error-toast .md-toast-content{
	background-color: #F44336 !important;
}
.error-toast .md-toast-content .md-toast-text{
	font-size:16px;
}
.p-5{
	padding: 5px;
}
.p-10{
	padding: 10px;
}
.p-15{
	padding: 15px;
}
.p-20{
	padding: 20px;
}
.m-5{
	margin: 5px;
}
.m-10{
	margin: 10px;
}
.m-15{
	margin: 15px;
}
.m-20{
	margin: 20px;
}
.mb-5{
	margin-bottom: 5px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-15{
	margin-bottom: 15px;
}
.mb-20{
	margin-bottom: 20px;
}
.sub-text-sm{
	color: #999999;
	font-size: 12px;
	font-weight: 300;
}
.heading-3{
	font-size: 16px;
	font-weight: 500;
}
.heading-2{
	font-size: 16px;
	font-weight: 500;
}
.pr-20{
	padding-right: 20px;
}