#app-home .title{
	text-align: center;
    padding: 15px 0px;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    letter-spacing: 14px;
    margin: 40px 20px 0px 20px;
}
#app-home .version{
	text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    letter-spacing: 5px;
}
#app-home .paginator{
    display: inline-block;
}

#app-home md-grid-list md-grid-tile:active{
  outline: 0;
}
#app-home md-grid-list md-grid-tile{
  transition: all .2s ease-in-out;
}
#app-home md-grid-list md-grid-tile:hover{
  cursor: pointer;
  transform: scale(1.1);
}
#app-home md-sidenav md-content{
  max-height: 160px;
  overflow: auto;
}
@media (min-width: 600px){
  #app-home md-sidenav{
    top: 0em;
    max-width:900px;
    width: 800px; 
  }
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}