<div id="app-home">
	<div ng-if="!vm.results.$resolved">
		<p class="title">{{vm.title}}</p>
		<p class="version">v{{vm.version}}</p>
	</div>
	<div ng-if="vm.results.$resolved" class="p-20">
		<!-- Album -->
		<div id="album-container" class="mb-20">
			<span class="heading-2 pr-20">Albums</span>
			<div class="paginator" layout="row" ng-if="vm.results.albums.items">
				<md-button class="button-prev md-icon-button" aria-label="prev" ng-click="vm.prev('albums');" ng-disabled="!!!vm.results.albums.previous">
					<md-icon md-font-icon="fa fa-caret-left"></md-icon>
				</md-button>
				<span class="sub-text-sm">{{ vm.resultsCountAsString('albums') }}</span>
				<md-button class="button-next md-icon-button" aria-label="next" ng-click="vm.next('albums');" ng-disabled="!!!vm.results.albums.next">
					<md-icon md-font-icon="fa fa-caret-right"></md-icon>
				</md-button>
			</div>
			<md-divider></md-divider>
			<md-grid-list style="background-color:#A52A2A;"
				md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
		        md-row-height-gt-md="1:1" md-row-height="2:2"
		        md-gutter="12px" md-gutter-gt-sm="8px" ng-if="vm.results.albums.items">

				<md-grid-tile class="animate-repeat" ng-repeat="album in vm.results.albums.items | orderBy:'name'"
					md-rowspan="1"
					md-colspan="1"
					md-colspan-sm="1"
					md-colspan-xs="1"
					ng-click="vm.showAlbumDetail($event, album.id)" >
					<img ng-src="{{album.images[0].url || 'http://placehold.it/350x150'}}" class="md-avatar" alt="Album cover" width="160px">
					<md-grid-tile-footer><h3>{{album.name || 'album removed'}}</h3></md-grid-tile-footer>
				</md-grid-tile>
			</md-grid-list>
		</div>

		<!-- Artists -->
		<div id="artist-container" class="mb-20">
			<span class="heading-2 pr-20">Artists</span>
			<div class="paginator" layout="row" ng-if="vm.results.artists.items">
				<md-button class="button-prev md-icon-button" aria-label="prev" ng-click="vm.prev('artists');" ng-disabled="!!!vm.results.artists.previous">
					<md-icon md-font-icon="fa fa-caret-left"></md-icon>
				</md-button>
				<span class="sub-text-sm">{{ vm.resultsCountAsString('artists') }}</span>
				<md-button class="button-next md-icon-button" aria-label="next" ng-click="vm.next('artists');" ng-disabled="!!!vm.results.artists.next">
					<md-icon md-font-icon="fa fa-caret-right"></md-icon>
				</md-button>
			</div>
			<md-divider></md-divider>
			<md-grid-list style="background-color:#B21532;"
				md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
				md-row-height-gt-md="1:1" md-row-height="3:3"
				md-gutter="1px" md-gutter-gt-sm="4px" ng-if="vm.results.artists.items">

				<md-grid-tile class="animate-repeat" ng-repeat="artist in vm.results.artists.items | orderBy:'name'"
					md-rowspan="1"
					md-colspan="1"
					md-colspan-sm="1"
					md-colspan-xs="1"
					ng-click="vm.showArtistDetail($event, artist.id)" >
					<img ng-src="{{artist.images[0].url || 'http://placehold.it/350x150'}}" class="md-avatar" alt="artist cover" width="160px">
					<md-grid-tile-footer><h3>{{artist.name || 'artist removed'}}</h3></md-grid-tile-footer>
				</md-grid-tile>
			</md-grid-list>
		</div>
	</div>
</div>